.date-picker {
  display: inline-block;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;

  &--month-details {
    h4 {
      text-align: left;
      margin: 0 0.5rem 1rem;
    }
  }

  &--day-labels {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    margin-bottom: 10px;

    > h4 {
      // flex: 1;
      // justify-content: center;
      text-align: center;
      font-weight: 500;
      margin: 0;
    }
  }

  &--dates {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
  }

  &-date {
    border: 3px solid #ccc;
    border-radius: 100%;
    width: 2rem;
    height: 2rem;
    padding: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;

    &.active {
      color: red;
    }

    &.empty {
      // opacity: 0.5;
      border: 0;
    }
  }
}
